.mobile-menu {
    @include mq(tablet) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    
}
.mobile-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 0.85;
    letter-spacing: 0.03em;
}
.mobile-button {
    display: inline-flex;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;

    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 100;

    &:focus,
    &:hover {
        fill: #2196F3;
    }

}



.mobile-button .icon-cross {
    display: none;
}

.mobile-button.is-open .icon-cross {
    display: block;
}

.mobile-button.is-open .icon-menu {
    display: none;
}

.mobile-container {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;

    /* height: 796px; */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    &__nav-link {
        font-weight: 500;
        font-size: 40px;
        line-height: 0.85;
        letter-spacing: 0.02em;
        
        color: #212121;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__nav-link:focus,
    &__nav-link:hover {
        color: #2196F3;
    }

    &__nav-link:not(:last-child) {
        margin-bottom: 32px;
    }
    &__address-list {
        margin-top: auto;
        margin-bottom: 64px;
    }
    &__address-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 0.85;
        letter-spacing: 0.02em;

        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__address-link:focus,
    &__address-link:hover {
        color: #2196F3;
    }
    &__address-item--tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 0.85;
        letter-spacing: 0.02em;
        
        color: #2196F3;
        margin-bottom: 32px;

        &:focus,
        &:hover {
            color: #2196F3;
        }

    }
    &__social-list {
        display: flex;
    }
    &__social-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 0.81; 
        letter-spacing: 0.02em;
        
        color: #2196F3;
        margin-right: 10px;

        &:not(:last-child)::after {
            content: "";
            width: 22px;
            height: 0px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
}
