:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --bg-btn-color: #2196F3;
    --bg-footer-color: #2F303A;
    --main-bg-color: #E5E5E5;
    --font-main: Roboto, sans-serif;
    --font-secondary: Raleway, sans-serif;
    --bg-button-color: #F5F4FA;
}