.advertising {
    
    @include mq(desktop) {
        margin-left: 70px;
    }
    @include mq(mobile) {
        text-align: center;
        margin-bottom: 60px;
    }
    
    &__tittle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--white-text-color);
    }
    
    &__list {
        display: flex;
        @include mq(mobile-only) {
            justify-content: center;
        }
    }
    
    &__item:not(:last-child) {
        margin-right: 10px;
    }
}
