.footer {
    background-color: var(--bg-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__nav {
        @include mq(not-desktop) {
        text-align: center;
        }
        @include mq(tablet-only) {
            padding-left: 76px;
            margin-right: 165px;
            margin-bottom: 60px;
        }
    }
    
    &__container {
        @include mq(tablet-only) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    @include mq(desktop) {
        &__container {
                display: flex;
                align-items: baseline;
            } 
    }

}

.footer-address {
    @include mq(desktop) {
     &__list {
        padding-left: 0;
        margin-bottom: 0;
    } 
    }
    &__list {
        @include mq(mobile-only) {
            margin-bottom: 60px;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    
    &__link {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link--map {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--white-text-color);
    }
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

}